name: CI/CD

on: 
  push: 
    branches: 
      - main

jobs:
  ci:
    name: Backend Continuous Integration 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'


  cd:
    name: Continuous Delivery
    runs-on: ubuntu-latest

    needs: ci

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with: 
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSCODE }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /diskb/home/backend
            git pull origin main
            sudo systemctl restart uspolis-backend.service
            echo "Backend reloaded com sucesso."

      - name: Notify Command Success
        run: echo "Command executed on ${{ secrets.HOST }} successfully!"
              



